<div id="orders_list">
  <div class="container">
    <h1>Orders</h1>

    <table class="table">
      <thead>
      <tr>
        <th>Order ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Stripe Payment Intent ID</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
      <% product = order.product %>

        <tr>
          <td><%= order.id %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= order.status %></td>
          <td><%= order.stripe_payment_intent_id %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
