<!DOCTYPE html>
<html>
  <head>
    <title>Yeeld Exercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= javascript_include_tag 'https://js.stripe.com/v3/' %>

    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'navbar' %>

    <div class="container my-3">
      <div id="flash_messages">
        <%= render 'flash' %>
      </div>

      <div id="page_content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
